body {
    background-image: url("https://pbs.twimg.com/media/EKvPJUXU8AAbRko.jpg");
    position: absolute; 
    background-size: cover;
    background-repeat: repeat;
  }
  .row{
    background-color: lightsalmon;
    font-family: 'Orbitron', sans-serif;
    background-color: lightsalmon;
    box-shadow: 5px 10px rgb(192, 120, 96);
    border-radius: 25px;
    width: 60%;
    margin-top: 10%;
    margin-left: 50%;
  }

  /* @media only screen and(min-width: 1281px) { 
    // }
    // @media (min-width: 1025px) and (max-width: 1280px) {
    // }
    // @media (min-width: 768px) and (max-width: 1024px) {
    // }
    // @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    // }
    // @media (min-width: 481px) and (max-width: 767px) {
    // }
    // @media (min-width: 320px) and (max-width: 480px) {
    // } */