$egg-radius: 54% / 65% 65% 47% 47%;
$body-main: #fd5132;
$body-shadow: darken($body-main, 12%);
$screen-white: #e3e6c9;
$black:  #0f0f0f;
$white: #fdfdfd;
body {
  background-image: url("https://pbs.twimg.com/media/EKvPJUXU8AAbRko.jpg");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.header {
  position: fixed;
  left: 0;
  top: 35;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  

  &__section {
    position: relative;
    padding: 1% 0 1%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Orbitron', sans-serif;
    background-color: lightsalmon;
    box-shadow: 5px 10px rgb(192, 120, 96);
    border-radius: 25px;
  }
}

.button {
  display: block;
  text-align: center;
  width: 160px;
  top: 250;
  left: 600;
  background-color: lightsalmon;
  border-radius: 25px;
  box-shadow: 5px 10px rgb(192, 120, 96);
  padding: 20px;
  position: absolute;  
  margin: 30px 10px; 
  cursor: pointer;

  &__feed {
    text-align: center;
    margin-bottom: 10;
    box-shadow: 2px 2px rgb(192, 120, 96);
    font-family: 'Lemonada', cursive;
  }
  &__play {
    text-align: center;
    margin-bottom: 10;
    box-shadow: 2px 2px rgb(192, 120, 96);
    font-family: 'Lemonada', cursive;
  }
  &__sleep {
    text-align: center;
    margin-bottom: 10;
    box-shadow: 2px 2px rgb(192, 120, 96);
    font-family: 'Lemonada', cursive;
  }
  &__wake {
    text-align: center;
    margin-bottom: 10;
    box-shadow: 2px 2px rgb(192, 120, 96);
    font-family: 'Lemonada', cursive;
  }
  &__clean {
    text-align: center;
    margin-bottom: 10;
    box-shadow: 2px 2px rgb(192, 120, 96);
    font-family: 'Lemonada', cursive;
  }
  &__medicine {
    text-align: center;
    margin-bottom: 10;
    box-shadow: 2px 2px rgb(192, 120, 96);
    font-family: 'Lemonada', cursive;
  }
}

.tamagotchi {
  display: block;
    width: 256px;
    height: 310px;
    background: $body-main;
    position: absolute;
    right: 0px;
    border-radius: $egg-radius;
    top: 500;
    left: 1200;
    transform: translate(-50%, -50%);
    user-select: none;
    box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.4);
    
    &__inner {
        width: 256px;
        height: 310px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $egg-radius;
        overflow: hidden;
      }
      
      &__shadow {
        position: absolute;
        border-radius: $egg-radius;
        top: 6%;
        left: 6%;
        width: 82%;
        height: 82%;
        box-shadow: 10px 15px 10px 10px rgba($body-shadow, 0.9);
        filter: blur(5px);
      }
      
      &__highlight {
        position: absolute;
        width: 25px;
        height: 75px;
        border-radius: 90% 10% 10% 90%;
        background-color: lighten($body-main, 13%);
        transform: rotate(40deg);
        left: 35px;
        top: 5px;
      }
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -63px;
    margin-top: -60px;

    &__inner {
        background: $screen-white;
        width: 126px;
        height: 126px;
        border-radius: 13px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-bottom: 2px solid rgba($black, 0.3);
        border-top: 2px solid rgba($black, 0.3);
        box-shadow: 0 1px 1px 1px rgba($white, 0.3);
    }
}

// .container {
//   position: fixed;
//   bottom: 20;
//   left: 400;
//   background-color: lightsalmon;
//   display: block;
  
  
// }