$egg-radius: 54% / 65% 65% 47% 47%;
$body-main: #fdd432;

.tamagotchi {
    width: 256px;
    height: 310px;
    background: $body-main;
    text-align: center;
    position: fixed;
    border-radius: $egg-radius;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.4);
    
}